.khan__book-pic {
    height: 620px;
    width: 608px;
    background-image: url(../../../images/khan-book.jpg);
    background-size: cover;
    margin-right: 48px;
    margin-top: 68px;
    margin-bottom: 0;
  }